<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Modal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Update Data</h2>
            <form id="updateForm" action="/todos/updateData" method="post">
                <input type="hidden" name="_id" value="<%= id %>"> 
                <label for="bookTitle">Book:</label>
                <input type="text" id="bookTitle" name="bookTitle">
                <label for="rating">Rating:</label>
                <input type="text" id="rating" name="rating">
                <br>
                <button class="updateInfo" type="submit">Update Data</button>
            </form>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>



